.delivery-image {
  width: 600px;
  height: 440px;
}
.link {
  text-decoration: none;
  color: black;
}
.card-link {
  text-decoration: none;
}
.card-link:hover {
  box-shadow: 0px 5.041px 7.095px -3.208px rgba(0, 0, 0, 0.2),
    0px 11px 17.413px 1.375px rgba(0, 0, 0, 0.14),
    0px 4.125px 21.076px 3.666px rgba(0, 0, 0, 0.12);
}
.page {
  background-color: rgb(244, 244, 244);
  height: 100%;
}
